<!doctype html>
<html lang="ru">
<head>
    <title>Nosorog item</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="js/jquery-1.9.0.min.js"></script>
    <script src="js/modernizr.2.js"></script>
    <script src="js/respond.src.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="css/style.css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <!--[if gt IE 8]><!-->
    <!--<![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" href="css/ie8.css" media="all">
    <![endif]-->
    <script src="js/script.js"></script>
</head>
<body>
<div class="wrapper">
    <div id="mega_menu" class="mega_menu">
        <ul class="slide_menu">
            <li class="menu_item drop_down">
                <a class="menu_link yellow_btn icon_1" href="#">Зимний ассортимент</a>
                <ul class="drop_list">
                    <li class="drop_item"><a class="drop_link" href="#"> Зимние ботинки</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Шлема зимние</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Очки снегоходные</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Куртки</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Брюки зимние</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Термобелье</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Перчатки, рукавицы</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Подшлемники</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Защита тела</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Бандажи и ортезы</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Аксессуары</a></li>
                </ul>
            </li>
            <li class="menu_item drop_down">
                <a class="menu_link yellow_btn icon_2" href="#">Для водителя</a>
                <ul class="drop_list">
                    <li class="drop_item"><a class="drop_link" href="#">Мотоботы</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Защита тела</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Защита спины</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Защита шеи</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Защита коленей</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Защита локтей</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Кроссовые майки</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Кроссовые штаны</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Кроссовые перчатки</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Аксессуары</a></li>
                </ul>
            </li>
            <li class="menu_item drop_down">
                <a class="menu_link yellow_btn icon_3" href="#">Средства связи</a>
                <ul class="drop_list">
                    <li class="drop_item"><a class="drop_link" href="#">Bluetooth гарнитуры</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Запасные модули и зарядные</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">устройства</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Аудио крепежи и аксессуары</a></li>
                </ul>
            </li>
            <li class="menu_item drop_down">
                <a class="menu_link yellow_btn icon_4" href="#">Для техники</a>
                <ul class="drop_list">
                    <li class="drop_item"><a class="drop_link" href="#">Защита днища и рычагов</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Чехлы для техники</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Средства для ухода за техникой</a></li>
                </ul>
            </li>
            <li class="menu_item drop_down">
                <a class="menu_link yellow_btn icon_5" href="#">Сувенирная продукция</a>
                <ul class="drop_list">
                    <li class="drop_item"><a class="drop_link" href="#">Кружка металлическая</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Кружка металлическая</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">автомобильная с крышкой</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Фляжка металлическая походная</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Кружка керамическая</a></li>
                </ul>
            </li>
            <li class="menu_item mod_share">
                <a class="menu_link icon_6" href="#">Акции</a>
                <ul class="mod_vis">
                    <li class="drop_item"><a class="drop_link" href="#">Доставка</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Способы оплаты</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Контакты</a></li>
                    <li class="drop_item"><a class="drop_link" href="#">Написать нам</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="base">
        <div class="overlay"></div>
        <div id="one_click_form" class="one_click_form">
            <div class="form_title ">Купить в один клик</div>
            <div class="form_body">
                <form action="#">
                    <div class="form_description">Чтобы оформить заказ, заполните форму. С вами свяжется менеджер и
                                                  уточнит детали заказа а так-же время доставки.
                    </div>
                    <input class="input_order" placeholder="Имя*" type="text"/>
                    <input class="input_order" placeholder="Телефон*" type="text"/>
                    <label class="order_comment_label" for="order_comment">Адрес доставки и комментарий к заказу</label>
                    <textarea id="order_comment" class="order_comment input_order"></textarea>

                    <div class="center_holder">
                        <a href="#" class="yellow_btn go_checkout">Оформить заказ</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="header clearfix">
            <div class="yellow_btn cart_btn">2</div>
            <a id="main_menu_btn" class="menu yellow_btn" href="#">МЕНЮ</a>
            <a class="logo" href="#"></a>
            <a class="phone_header" href="tel:88003334172">8-800-333-4172</a>
        </div>
        <div class="search_block">
            <form action="#">
                <input type="text"/>
                <button>Поиск</button>
            </form>
        </div>
        <div class="main_row">
            <div class="item_controls_block clearfix">
                <a class="yellow_btn go_back_btn" href="#">Назад</a>

                <div class="new_price">9900<span> Руб.</span></div>
            </div>
            <div class="slider_title">Кроссовая фуфайка Scott 350 GRID LOCKE</div>
            <div class="item_slider_w">
                <div class="item_next"></div>
                <div class="item_prev"></div>
                <ul id="item_slider" class="item_slider">
                    <li class="item_slide"><img src="i/item_slide_1.png" alt=""/></li>
                    <li class="item_slide"><img src="i/item_slide_2.png" alt=""/></li>
                    <li class="item_slide"><img src="i/item_slide_1.png" alt=""/></li>
                    <li class="item_slide"><img src="i/item_slide_2.png" alt=""/></li>
                    <li class="item_slide"><img src="i/item_slide_1.png" alt=""/></li>
                    <li class="item_slide"><img src="i/item_slide_2.png" alt=""/></li>
                </ul>
            </div>
            <div class="buy_controls clearfix">
                <a href="#" class="orange_btn add_item">Добавить в корзину</a>
                <a id="buy_1_click" href="#" class="yellow_btn go_checkout">Купить в 1 клик</a>
            </div>
            <div class="item_dimensions clearfix">
                <div class="select_box">
                    <div class="select_label">Размер</div>
                    <div class="select_drop_down">
                        <div class="select_value">L</div>
                        <ul class="select_list">
                            <li class="select_item">M</li>
                            <li class="select_item">L</li>
                            <li class="select_item">XL</li>
                            <li class="select_item">XXL</li>
                        </ul>
                    </div>
                </div>
                <div class="select_box">
                    <div class="select_label">Цвет</div>
                    <div class="select_drop_down mod_1">
                        <div class="select_value">Красный</div>
                        <ul class="select_list">
                            <li class="select_item">Красный</li>
                            <li class="select_item">Синий</li>
                            <li class="select_item">Черный</li>
                            <li class="select_item">Зеленый</li>
                        </ul>
                    </div>
                </div>
                <div class="select_box">
                    <div class="select_label">Кол.</div>
                    <input class="buy_quantity" value="1" type="text"/>
                </div>
            </div>
            <div class="page_title mod_slide_down">Описание</div>
            <div class="item_info">
                <div class="item_description">
                    Фуфайка 350 GRID LOCKE , CON ARTIST с совершенно новым дизайном графики отличается высокой
                    износостойкостью
                    и создавалась специально для агрессивной спортивной езды.
                </div>
                <dl class="item_features">
                    <dt class="item_dt">Характеристики:</dt>
                    <dd class="item_dd">На предварительно изогнутых (для повышенного комфорта) рукавах имеются защитные
                                        нашивки
                                        в
                                        районе локтей, которые смягчают соприкосновения с жесткой защитой (налокотниками). Максимальную
                                        вентиляцию
                                        обеспечивают вставки из полиэстера с сетчатой структурой по бокам. Отделка лайкрой и эластичные
                                        манжеты
                                        обеспечивают высочайший уровень комфорта и свободу движениям.
                    </dd>
                    <dt class="item_dt">Материал:</dt>
                    <dd class="item_dd">Полиэстер, Meshиз полиэстера, лайкра
                    </dd>
                    <dt class="item_dt">Особенности:</dt>
                    <dd class="item_dd">
                        Двухслойный воротник V-neck<br>
                        Предварительно изогнутый рукав<br>
                        Эффективная вентиляция<br>
                        Эластичные манжеты для комфорта носки<br>
                        Силиконовый принт<br>
                        Широкая цветовая гамма<br>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="footer">
            <a class="menu yellow_btn" href="#">МЕНЮ</a>

            <div class="footer_caption">Связь</div>
            <a class="footer_phone" href="tel:88003334172">8-800-333-4172</a><br>
            <a class="footer_phone" href="tel:84995044172">8-499-504-4172</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function($) {

        var dropDown = $('.drop_down'), base = $('.base'), overlay = $('.overlay'), menuBtn = $('.menu'), aside = $('#mega_menu'), oneClickForm = $('#one_click_form'), dropLists = $('.drop_list');
        dropDown.on('click', function() {
            var firedEl = $(this).find('.drop_list');
            dropLists.slideUp(500).parent().removeClass('opened');
            if(!firedEl.is(':visible')) {
                firedEl.slideDown(500).parent().addClass('opened');
            }
            return false;
        });
        menuBtn.on('click', function() {
            if(overlay.is(':visible')) {
                aside.animate({'marginLeft': -270});
                overlay.fadeOut(500);
            } else {
                aside.animate({'marginLeft': 0});
                overlay.fadeIn(500);
            }
            return false;
        });
        function hideDropDowns() {
            $('.select_list').slideUp();
        }

        $(document).click(function(e) {
            if($(e.target).parents().filter('.select_drop_down').length != 1) {
                hideDropDowns();
            }
        });
        $('.select_drop_down').on('click', function() {
            var firedEl = $(this), dropList = firedEl.find('.select_list'), selectVal = firedEl.find('.select_value');
            if(dropList.is(':visible')) {
                dropList.slideUp();
            } else {
                hideDropDowns();
                dropList.slideDown(500);
            }
            return false;
        });
        $('.select_item').on('click', function() {
            var firedEl = $(this);
            firedEl.parent().slideUp().prev().html(firedEl.text());
            return false;
        });
        $('.mod_slide_down').on('click', function() {
            var firedEl = $(this), slideInfo = firedEl.next();
            if(slideInfo.is(':visible')) {
                firedEl.removeClass('opened');
                slideInfo.slideUp();
            } else {
                firedEl.addClass('opened');
                slideInfo.slideDown();
            }
            return false;
        });
        function hidePopupForm() {
            oneClickForm.animate({'top': -1000}, 1000, function() {
                oneClickForm.hide();
            });
            overlay.fadeOut(500, function() {
                menuBtn.removeClass('disabled');
            });
        }

        overlay.on('click', function() {
            if(oneClickForm.is(':visible')) {
                hidePopupForm();
            }
            return false;
        });
        $('#buy_1_click').on('click', function() {
            if(oneClickForm.is(':visible')) {
                hidePopupForm();
            } else {
                oneClickForm.css('display', 'block').animate({'top': 130 + $(document).scrollTop()}, 1000);
                menuBtn.addClass('disabled');
                overlay.fadeIn(500);
            }
            return false;
        });
        $('#item_slider').bxSlider({
            slideSelector: ('.item_slide'),
            touchEnabled : true,
            responsive   : true,
            minSlides    : 3,
            maxSlides    : 10,
            slideMargin  : 0,
            moveSlides   : 1,
            prevText     : '',
            nextText     : '',
            pager        : false
        });
    });


</script>
</body>
</html>